<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<style>
   input[value="Reverse!"] {
   color: blue}

   input[value="Go to Project"] {
   border: 4px double red;
   width: 150px;
   hight:30px;
   font-weight: bold;
   font-size: 16px}

   input[value="Go to Project"]:hover {
   color: darkred;
   cursor: pointer}
</style>
</head>
<body>
<h1>Diana Akinshina</h1>
<form action ="{% url 'reversed' %}">
    <textarea rows="25" cols="50" name="Feedback" placeholder="Input your text"></textarea><br><br>
    <input type="submit", value="Reverse!">
</form>
<br><br>
<form action="{%url 'project' %}">
   <input type="submit", value="Go to Project">
</form>
</body>
</html>